
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: transparent;
  border: 2px solid #1d1d1d;
  border-radius: 12px;
  color: #1d1d1d;
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  border: 2px solid #1d1d1d;

}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #1d1d1d;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
  }

  .start-screen {
    width: 100%;
    max-width: 400px;
  }

  .game {
    width: 100%;
    max-width: 400px;
  }
}

body {
  position: relative;
  height: 100vh;
  padding: 0 20px;
  background: #fafafa;
}